prompts/*
notebooks/*
data/*
design_docs/*
tests/*
docs/*
evals/*
prompts_to_chat/*
web_scraping/*
*__pycache__*
.cache
.DS_Store
2024-spotify-full-logo/*
flask_session/*
.env
*.pdf
*.ipynb
*.png
*.log